<!DOCTYPE html>
<html lang='en'>
		<section>
			{{template "base" .}}
			{{define "title"}}Home{{end}}

			{{define "body"}}
			<h2>Latest Snippets</h2>
			<p>There's Nothing To See Here..</p>
			{{end}}
		</section>
	</body>
</html>
